.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bcc8de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-button {
  position: center;
}
.text1 {
  margin: 20px;
  background-color: rgb(191, 224, 224);
}
.text2 {
  margin: 20px;
  background-color: rgb(191, 224, 224);
}

.button {
  flex: auto;
  size: 20px;
}

.title {
  background-color: rgb(191, 224, 224);
}
.submit2 {
  margin-top: 10px;
}

.delet {
  margin-left: 20px;
}
